html,body {
	margin: 0;
	padding: 0;
	
	background-image: url('/images/paper_drk.jpg');
	background-repeat: repeat;
	background-position: center top;
	background-attachment: fixed;
	
	text-align: center;

	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 12px;
	color: #000;
}

div#container {
	width: 900px;
	margin: 10px auto;
	text-align: left;
}

span.value {
	font-size: 1.4em;
}

span.item label {
	font-weight: bold;
}
span.item span.value {
	margin-left: 0.6em;
	margin-right: 1em;
}

span.element {
	display: inline-block;
	vertical-align: top;
	line-height: 0.8em;
}
span.element span.value {
	line-height: 0.8em;
}
span.element label {
	font-size: 0.7em;
	line-height: 0.8em;
}

span.formula span.element {
	text-align: center;
	min-width: 25px;
}

fieldset {
	border: 1px solid #B42710;
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: top;
}
fieldset legend {
	font-size: 1.4em;
	font-weight: bold;
	font-style: italic;
}
fieldset table {
	/*width: 100%;*/
}
fieldset table th {
	vertical-align: top;
	text-align: right;
}
fieldset table tr.hor th {
	text-align: center;
}

div.lt-paper {
	background-image: url('/images/paper_lt.jpg');
	background-repeat: repeat;
	background-position: center top;
	border: 1px solid #B42710;
	margin: 15px;

	padding: 15px;
}

div#content {
	width: 500px;
	height: 400px;
	float: left;
}
div#sidebar {
	width: 200px;
	height: 400px;
	float: left;
}
div#footer {
	width: 700px;
	height: 150px;
	clear: both;
}